<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258980818115-59htni18pd23et2buphsf3s396411kfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258980818115-59htni18pd23et2buphsf3s396411kfe</string>
	<key>API_KEY</key>
	<string>AIzaSyBi3ru_L3WsjoaomCSwm1yNnh65CFhttmA</string>
	<key>GCM_SENDER_ID</key>
	<string>258980818115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instgApp</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-8ad08</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-8ad08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258980818115:ios:ef63f314623188afd3c676</string>
</dict>
</plist>